<nav class="icon">
    <a href="https://www.instagram.com/adri.ayuso/">
        <img loading="lazy" src="../public/images/instagram.svg" alt="Instagram" width="70" height="70">
    </a>
    <a href="https://www.goodreads.com/gaaf">
        <img loading="lazy" src="../public/images/goodreads.svg" alt="Goodreads" width="70" height="70">
    </a>
            
</nav>
<div class="footer-info">
    <p><a href="/bookRecApp/#about">About Us</a></p>
    <!-- <p>Grace Adriana Ayuso Ferrín</p> -->
    <p>
        <span id="currentyear"> My Next Book</span>
    </p>
    <p id="lastModified"></p>
</div>