<div class="title">
            <img loading="lazy" src="public/images/icon.svg" alt="My Next Book logo" width="80" height="80">
            <div class="text-title">
                <p id="big-title">My Next Book</p>
            </div>
            <button id="menu" aria-label="Menu button"></button>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <li><a href="/" id="home" title="Home">Home</a></li>
                <li><a href="/genres" id="genres" title="Books">Genres</a></li>
                <li><a href="/quotes" id="quotes" title="Quotes">Quotes</a></li>
                <li><a href="/quotes" id="login" title="Login">Login</a></li>
            </ul>
        </nav>